{% extends 'layout.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}{{ title }} | {{ super() }}{% endblock %}

{% block app_content %}
  <div class="row">
    <h1>{{ description }}</h1>
    <hr>
    
    <form action="" method="POST" class="form-horizontal" role="form">
      {{ form.hidden_tag() }}
      <div class="form-group">
        <div class="col-md-12">
          {{ form.email.label }}
          {{ form.email(class='form-control') }}
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-12">
          {{ form.password.label }}
          {{ form.password(class='form-control') }}
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-12">
          <div class="checkbox">
            <label>
              {{ form.remember_me(type='checkbox') }}
              {{ form.remember_me.description }}
            </label>
          </div>
        </div>
      </div>
      {{ form.submit(class='btn btn-primary') }}
    </form>
  </div>
{% endblock %}