{% extends 'layout.html' %}

{% block title %}{{ title }} | {{ super() }}{% endblock %}

{% block app_content %}
    
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{url_for('index')}}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Manage Notes</li>
        </ol>
    </nav>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date</th>
                <th>Absent</th>
                <th>Note</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for note in notes %}
                <tr>
                    <td>{{note.user.f_name}}</td>
                    <td>{{note.user.l_name}}</td>
                    <td>{{moment(note.date).format('LL')}}</td>
                    <td>{{note.absent}}</td>
                    <td>{{note.note}}</td>
                    <td><a href="{{url_for('notes.edit')}}?id={{note.id}}" class="btn btn-secondary">Edit</a></td>
                    <td>
                        <form action="{{url_for('notes.delete')}}" method="POST">
                            <input type="hidden" value="{{note.id}}" name="id" />
                            <input type="submit" class="btn btn-danger" value="Delete" />
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{url_for('notes.add')}}" class="btn btn-secondary">Add Note</a>

{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}


