{% extends 'layout.html' %}

{% block title %}{{ title }} | {{ super() }}{% endblock %}

{% block app_content %}


{% if current_user.role_id == 1 %}
<h4>Add a course note</h4>
<form action="" method="POST" role="form">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.date.label }}
        {{ form.date(class='form-control input-append date time', type='date') }}
    </div>
    {# <div class="form-group">
        {{ form.time.label }}
        {{ form.time(class='form-control', type='time') }}
    </div> #}
    <div class="form-group">
        {{ form.note.label }}
        {{ form.note(class='form-control') }}
    </div>
    <div class="form-group">
        {{ form.in_class.label }}
        {{ form.in_class(class='form-control') }}
    </div>
    {{ form.submitnote(class='btn btn-primary') }}
</form>
{% endif %}

{% for note in notes %}
<h3>{{ note.note }}</h3>
<h3>{{ note.date }}</h3>
{% endfor %}
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}