{% extends 'layout.html' %}

{% block title %}{{ title }} | {{ super() }}{% endblock %}

{% block app_content %}
    
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{url_for('index')}}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{url_for('admin.index')}}">Manage Users And Roles</a></li>
            <li class="breadcrumb-item active" aria-current="page">Manage Roles</li>
        </ol>
    </nav>
    <table class="table table-borderless">
        <tbody>
            {% for role in roles %}
                <tr>
                    <th>{{role.name}}</th>
                    <td><button class="btn" disabled>View Users</button></td>
                    <td><button class="btn" disabled>Edit</button></td>
                    <td><button class="btn btn-danger" disabled>Delete</button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="#" class="btn btn-primary">Add Role</a>

{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}


