{% extends 'layout.html' %}

{% block title %}{{ title }} | {{ super() }}{% endblock %}

{% block app_content %}
  <div class="row">
    <h1>{{ description }}</h1>
    <hr>
    <form action="{{ url_for('admin') }}" class="form-horizontal" method="POST" role="form">
      {{ form.hidden_tag() }}
      <div class="form-group">
        <div class="col-md-6">
          {{ form.f_name.label }}
          {{ form.f_name(class='form-control') }}
        </div>
        <div class="col-md-6">
          {{ form.l_name.label }}
          {{ form.l_name(class='form-control') }}
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-12">
          {{ form.email.label }}
          {{ form.email(class='form-control') }}
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-12">
          {{ form.role.label }}
          {{ form.role(class='form-control') }}
        </div>
      </div>
      {{ form.submit(class='btn btn-primary') }}
    </form>
  </div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
  $('form').on('submit', e => {
    console.log(typeof parseInt($('select[name="role"]').val()));
  })
</script>
{% endblock %}