{% extends 'layout.html' %}

{% block title %}{{ title }} | {{ super() }}{% endblock %}

{% block app_content %}
    
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{url_for('index')}}">Home</a></li>
            <li class="breadcrumb-item active">Manage Courses</li>
        </ol>
    </nav>
    <table class="table table-borderless">
        <tbody>
            <tr>
                <td>Course Name</td>
                <td>Start Date</td>
                <td>End Date</td>
            </tr>
            {% for course in courses %}
                <tr>
                    <td>{{course.name}}</td>
                    <td>{{ course.start_date.date() }}</td>
                    <td>{{ course.end_date.date() }}</td>
                    <td><a href="{{url_for('courses.edit')}}?id={{course.id}}" class="btn btn-secondary">Edit</a></td>
                    <td><form action="{{url_for('courses.delete')}}" method="POST">
                        <input type="hidden" value="{{course.id}}" name="id" />
                        <input type="submit" class="btn btn-danger" value="Delete" />
                    </form></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{url_for('courses.add')}}" class="btn btn-secondary">Add Course</a>

{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}


