<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
  <a class="navbar-brand" href="{{ url_for('index') }}">Coding Temple Staff Portal</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% if current_user.role_id == 1 %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{{ url_for('admin') }}"><span class="oi oi-plus"></span> Create New User</a>
        </div>
      </li>
      {% endif %}
    </ul>
    <ul class="navbar-nav">
        {% if not current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login') }}"><span class="oi oi-account-login"></span> Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('register') }}"><span class="oi oi-thumb-up"></span> Register</a>
          </li>
        {% else %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><span class="oi oi-person" title="person" aria-hidden="true"></span> {{ "{}, {}".format(current_user.l_name, current_user.f_name) }}</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href=""><span class="oi oi-list"></span> Profile</a>
              <a class="dropdown-item" href="{{ url_for('logout') }}"><span class="oi oi-account-logout"></span> Logout</a>
            </div>
          </li>
        {% endif %}
    </ul>
  </div>
</nav>