<div id="sidebar-1">
  <ul class="nav nav-pills flex-column">
    <li class="nav-item active"><a class="nav-link" href="{{ url_for('index') }}"><span class="oi oi-home"></span> Home</a></li>
    <li class="nav-item active"><a class="nav-link" href=""><span class="oi oi-calendar"></span> Calendar</a></li>
    <li class="nav-item active"><a class="nav-link" href=""><span class="oi oi-check"></span> Attendance & Notes</a></li>
    <li class="nav-item active"><a class="nav-link" href=""><span class="oi oi-people"></span> Staff</a></li>
    <li class="nav-item active"><a class="nav-link" href=""><span class="oi oi-terminal"></span> Instructors</a></li>
    <li class="nav-item"><a class="nav-link" href=""><span class="oi oi-book"></span> Assignments</a></li>
    <li class="nav-item"><a class="nav-link" href="{{url_for('courses.index')}}"><span class="oi oi-book"></span> Courses</a></li>
    <li class="nav-item"><a class="nav-link" href=""><span class="oi oi-code"></span> Students</a></li>
  </ul>
</div>